{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  //TODO: spardzić czy jest biblioteka która automatycznie dostosowuje mi ustawienia eslinta pod testy, bo pewnie taka istnieje
  "globals":{
    "it": true,
    "describe": true,
    "expect": true,
    "jest": true,
    "beforeEach": true,
    "document": true,
  },
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": "error",
    "linebreak-style": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    // "prettier.eslintIntegration": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
